.video {
    display: flex;
    align-items: center;
    padding: 30px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.13);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.video::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all linear .2s;
}

.video:hover::after {
    background-color: rgba(0, 0, 0, 0.1);
}